* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    overflow: hidden;
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 30%, rgba(20, 20, 20, 0.9) 100%);
}

#mainCanvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#soundDebug {
    position: absolute;
    right: 0;
    top: 0;
    background: white;
}

#startButton{
    position: absolute;
    left: 50%;
    bottom: 0px;
}