* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    overflow: hidden;
}

#mainCanvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(22, 14, 12, 0.726);
}

#soundDebug {
    position: absolute;
    right: 0;
    top: 0;
    background: white;
}

#info {
    position: absolute;
    top: -500px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(11, 114, 231);
    max-width: 400px;
    min-height: 400px;
    font-size: 1.2rem;
    padding: 2rem 1rem;
    transition: top 0.5s ease-in;
}

#info>* {
    margin-bottom: 1rem;
}

.mb {
    margin-bottom: 1rem;
}

#startButton {
    position: absolute;
    left: 50%;
    bottom: 0px;
}